icon ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x20L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "CompanyName", "CaNplay"
VALUE "FileDescription", "Backend Execution"
VALUE "FileVersion", "1.0.0.0"
VALUE "InternalName", "backend.exe"
VALUE "LegalCopyright", "Powered by CaNplay"
VALUE "OriginalFilename", "backend.exe"
VALUE "ProductName", "Odo Server Toolbox"
VALUE "ProductVersion", "1.0.0.0"
VALUE "SpecialBuild", "0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200
END
END

#define RT_MANIFEST 24
1 RT_MANIFEST "manifest.exe.manifest"